#nav-header {
    width: 100vw;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-header #header-links {
    width: 60%;
    display: flex;
    justify-content: space-between;
}